<div id="peer-search">

  <div class="row">
    <div class="small-12 columns">
      <h1 class="sec-head">peer search</h1>
    </div>
  </div>

  <div class="row" peer-search>
    <div class="large-4 columns">
      <div class="row">
        <div class="small-12 columns">
          <form name="searchForm" action="/search">

            <input type="text" placeholder="company to search" name="tagString"
                   ng-model="search.tagString" ng-keyup="searchKeyEvent($event)"
                   ng-pattern="/^([a-zA-Z]+\s)*[a-zA-Z]+$/"
                   ng-disabled="search.company.length > 0"
                   data-dropdown="drop1" class="dropdown" required />
            <small ng-show="searchForm.tagString.$error.notFound" class="error">
              no similar tags in the database
            </small>

            <ul class="f-dropdown" ng-show="search.tagSuggestions">
              <li style="text-align:center;">
                <img src="/img/load/clear.gif" ng-hide="search.tagSuggestions" />
              </li>
              <li ng-repeat="tag in search.tagSuggestions">
                <a href="#" _id="{{tag._id}}" displayText="{{tag.displayText}}"
                   ng-click="addSuggestedTag($event)">
                  {{tag.displayText}}
                </a>
              </li>
            </ul>

            <div id="search-tags">
              <ul class="tag-list">
                <li ng-repeat="company in search.company">
                  <a href="#" title="remove" _id="{{company._id}}" ng-click="removeTag($event)">
                    {{company.displayText}}
                  </a>
                </li>
              </ul>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <!-- no submit button, ng-click -->
                <a href="#" id="run-search">
                  <span class="button expand tiny radius"><i class="fa fa-search"></i></span>
                </a>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>

    <div class="large-8 columns" id="search-results">

      <div class="row" ng-hide="search.results.length > 0">
        <div class="small-12 columns centering ">
          <h4>no results</h4>
        </div>
      </div>

      <ul>
        <li class="search-result" ng-repeat="result in search.results">
          <div ng-include="'html/peer_search_result.html'"></div>
        </li>
      </ul>
    </div>
  </div>
  
</div>
